.condition-image img {
  height: var(--kws-condition-image-height);
}

.condition-label {
  font-size: var(--kws-condition-label-font-size);
  font-weight: var(--kws-condition-label-font-weight);
  color: var(--kws-font-color, #000);
}
