kws-uv-index .low-risk {
  color: #4f912a;
}

kws-uv-index .moderate-risk {
  color: #f5e24d;
}

kws-uv-index .high-risk {
  color: #e5632b;
}

kws-uv-index .very-high-risk {
  color: #c52a2a;
}

kws-uv-index .extreme-risk {
  color: #6350c1;
}
